__pycache__/
data/
.idea/
checkpoints/
runs/
VAE_runs/
LaTex/

*.nb
*.asv
*.mat

# LaTeX auxiliary files
*.aux
*.synctex.gz
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.run.xml
*.bcf
*.blg
*.bbl
*.nav
*.snm
*.vrb

# Editor files
*.swp
*~
.vscode/